:root {
    --primary-color: #f0f9ff;
    --secondary-color: #008dd3;
    --bg-color: #18181b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Inter', sans-serif;
    transition-duration: 150ms;
}

body {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    /* vh=viewheight */
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 14px;
}

.darkerText {
    color: var(--secondary-color);
}

header, 
main, 
footer {
    max-width: 700;
    margin: 0 auto;
    width: 100%;
}

p{
    font-size: 1.05em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    h2 {font-size: 1em;}
}

nav {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 32px;
}

nav a{
    cursor: pointer;
    text-decoration: none;
}

nav a:hover {
    opacity: 0.7;
}

main, 
section,
.nameContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: -32px;
}

main {
    gap: 88px;
    padding-bottom: 32px;
    h1 {font-size: 32px;}
}

section{
    gap: 48px;
}

.nameContainer{
}

.statsContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
}

.imgContainer{
    border-radius: 100%;
    max-width: 114px;
    overflow: hidden;
}

.imgContainer img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.stats{
    display: flex;
    flex-direction: column;
    gap: 14px
}

.stats>div{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* i is for icon */
.stats div i{
    font-size: 1.4em;
}

.stats div div{
    display: grid;
    place-items: center;
    min-width: 40px;
}

.aboutMe {
    line-height: 1.5em;
}

.aboutMe {
    width: 80%;
    margin-right: auto;
}

.outreach {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    width: fit-content;
    /* width of cursor activation area */
    margin-right: auto;
    text-decoration: none;
    margin-top: -24px;
}

.outreach:hover {
    opacity: 0.7;
}

.outreach i {
    /* transform: rotate(-45deg) rotates the arrow icon upwards */
}

.projectContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 12px;
}

.headerText{
    margin-top: 32px;
    font-size: 32px;
}

    /* CONTINUE HERE! Time used: 16:30-18:20
    Next day, Feb 8, starting from 12:20 
    Took until 14:20. In total 4 hours.*/

.projectItem {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.projectItem>div:first-child {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.projectItem>div:last-child {
    aspect-ratio: 16/9;
    max-width: 30%;
    overflow: hidden;
    border-radius: 8px;
}

.projectItem>div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linkContainer {
    display: flex;
    align-items: center;
    gap: 24px;
}

.linkItem {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 8px !important;
    color: var(--primary-color);
    text-decoration: none;
}

.linkItem:hover {
    opacity: 0.7;
    cursor: pointer;
}

.linkItem p {
    font-size: 0.9em;
}

@media (min-width: 640px) {
    .statsContainer {
        flex-direction: row;
    }
    
    .stats {
        gap: 0px;

    }
    h2 {
    font-size: 1em;
    }
}
